
<div class="mb-auto p-3" id="c1">
    <div class="card">
        <!-- <img class="card-img-top" title="t" [attr.src]="data.img"> -->
            <div class="row"> 
                <div class="column">
                  <img src="../../../../assets/img/20140417 Kraueterkisten bepflanzt (23).jpg" alt="">
                  <!-- <img class="card-img-top" title="t" [attr.src]="data.img"> -->
                </div>
                <div class="column">
                    <img src="../../../../assets/img/background3.jpg"alt="">
                    <!-- <img class="card-img-top" title="t2" [attr.src]="data.img2"> -->
                </div> 
            </div>
        <div class="card-body">
        <h4 class="card-title">{{data.title}}</h4>
        <p class="card-text">{{data.beschreibung}}</p>
        <p class="card-text">{{data.link}}</p>
        </div>
    </div>
</div>

