
<footer class="bg-light text-center text-lg-start sticky" id="shadowBorder">

  <div class="container">
         <div class="row justify-content-center" id="firstRow">
                <div class="col-4 margin-right">
                  <img src="../../assets/img/flower.jpg" class="img" alt="Treten Sie mit uns in Kontakt!" id="kontakt"> 
                </div>
                <div class="col-3 text-center">
                  <a href="meier.renate0406@gmx.de" id="mailFooter">meier.renate0406@gmx.de</a> 
                </div>  
                <div class="col-4">  
                  <img src="../../assets/img/flower2.0.gif" alt="Logo OGV" id="kontakt2"  height="5%" width="5%"/> 
                </div>
                <hr> 
          </div>


          <!-- Section: Rechtliches -->
          <div class="row align-items-start justify-content-center bg-light">
                        <div class="col-4">
                            <a
                            class="link-secondary" 
                            href="https://ogvlauterhofen.de/"
                            > © 2022 Copyright OGV Lauterhofen</a>
                        </div>
                        <div class="col-4 text-center">
                            <a
                            class="link-secondary" 
                            href="/impressum"
                            id="impressum"
                            >Impressum</a>
                        </div>
                        <div class="col-4 text-center">
                          <a
                          class="link-secondary" 
                          href="/datenschutz"
                          id="datenschutz"
                          >Datenschutz</a>
                      </div>
                <p></p>
          </div>

          <!-- For Phones: -->
          <!-- <div class="align-items-start justify-content-center bg-light" media="screen and (min-width: 1px)">
            <div col="col-4 text-center">
                <a
                class="link-secondary" 
                href="https://ogvlauterhofen.de/"
                > © 2022 Copyright OGV Lauterhofen</a>
            </div>
            <div class="col-4 text-center">
                <a
                class="link-secondary" 
                href="/impressum"
                id="impressum"
                style="padding: 50px;"
                >Impressum  </a>
              <a
              class="link-secondary" 
              href="/datenschutz"
              id="datenschutz"
              >Datenschutz</a>
          </div>
    <p></p>
</div> -->
      <!-- Grid container -->
    </div>
</footer>
