#startseite{
        color: black;
}



.card-list{
        // padding-left: 2%;
        position: relative;
        margin-left: 3.5%;
        // padding-right: 2%;
}

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
        .column {
          -ms-flex: 50%;
          flex: 25%;//25%
          max-width: 50%;
        }
        
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          -ms-flex: 20%;
          flex: 20%;//100%
          max-width: 50%;
        }
        #startseiteImage{
                height: 300px !important;
        }

      }