     <!--Background Image-->
<div class="p-5 text-center bg-image" id="startseiteImage"
        style="background-image: url('../../assets/img/bienen.JPG'); height: 500px; width: 100%;">
      <div class="mask"> 
        <!-- backgroundflower1 -->
        <div class="d-flex justify-content-center align-items-center h-100"  style="margin-top: 120px;">
          <div class="text-white">
            <h1 class="mb-3"> <b>Herzlich Willkommen</b></h1>
            <h4 class="mb-3">beim Obst- & Gartenbauverein Lauterhofen!</h4>
          </div>
        </div>
      </div>
</div>

<div class="container pt-5" id="startseite">
    <!-- <div class="d-flex align-items-center">  -->

        <h5 class="text-uppercase"> Wer sind wir?</h5>

        <p>
            Der OGV Lauterhofen wurde 1905 in der heutigen Form gegründet, und zählt zurzeit 333 Mitglieder.
            Die Mitglieder in unserer Kindergruppe nennen sich „Die Libellen“. <br> 
            Wir sind ein "bunter" Haufen von Natur- und Gartenliebhabern, die gemeinsam der Natur etwas zurückgeben wollen.
            Wir freuen uns über jede weitere gute Seele, die Teil unseres "Haufens" werden möchte.

        <p> Wenn Sie Interesse an den Aktivitäten des Gartenbauvereins haben und Näheres über uns erfahren möchten, so scrollen Sie etwas nach unten!
            <br> <br>
        </p>
        <!-- 3Bereiche
            1. Der Verein
            2. News
            3. Kommende Veranstaltungen-->
        <div class="News mb-5">
            <h5 class="mb-3">Neuigkeiten & Veranstaltungen</h5>
            <div class="card-list">
                <!-- <mdb-carousel [controls]="true" id="carouselCard" class="carousel-multi-item carousel-dark multi-animation" data-ride="carousel-multi-item" 
                                [animation]="'slide'" [keyboard]="true"  [type]="'carousel-multi-item'"> -->
                                <div  class="d-flex flex-wrap flex-row align-items-center"> 
                                <ng-container *ngFor="let Card of cardShown$ | async; let i = index; let last=last;" > <!-- *ngFor="let item of  slides;  let i = index"  *ngFor="let item of slides | async; let i = index" *ngFor="let Card of cardShown$ | async; let i = index" [cardShown$]="Card"-->       
                        <!-- <div  class="row row-cols-1 row-cols-md-3"> -->
                                <!-- <div class="col pb-2"> *ngIf="i % 1 == 0" *ngIf="i<3" -->
                                    <!--VorlagegFor="let Card of item | async; let cardIndex = index" [cardShown$]="Card"-->
                                        <!-- <div class="card-elemente"> -->
                                        <!-- <app-showncard (ping)="update($event)" [cardShown$]="Card" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"></app-showncard>  -->
                                        <!-- <app-showncard (ping)="update($event)" [cardShown$]="Card"></app-showncard> 
                                        <app-showncard (ping)="update($event)" [cardShown$]="Card"></app-showncard>  -->
                                    <!-- <div class="card" style="width: 18rem;">
                                        <img
                                        src="../../assets/img/background3.jpg"
                                        class="card-img-top"
                                        alt="..."
                                        />
                                        <div class="card-body">
                                            <h5 class="card-title">Veranstaltung & Neuigkeiten:<br>
                                                {{cardShown$[i].title}}
                                            </h5>
                                            <div class= "card-text">
                                                <p>{{cardShown$[i].beschreibung}}</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                            <li class="list-group-item"> Datum: <br> {{cardShown$[i].datum}} </li>
                                            <li class="list-group-item" >Treffpunkt:<br> {{cardShown$[i].ort}} </li>
                                            <li class="list-group-item">Kontaktperson: <br>{{cardShown$[i].veranstalter}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col pb-2"> 
                                    <div class="card" style="width: 18rem;">
                                        <img
                                        src="../../assets/img/background3.jpg"
                                        class="card-img-top"
                                        alt="..."
                                        />
                                        <div class="card-body">
                                            <h5 class="card-title">Veranstaltung & Neuigkeiten:<br>
                                                {{cardShown$[i + 1].title}}
                                            </h5>
                                            <div class= "card-text">
                                                <p>{{cardShown$[i + 1].beschreibung}}</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                            <li class="list-group-item"> Datum: <br> {{cardShown$[i + 1].datum}} </li>
                                            <li class="list-group-item" >Treffpunkt:<br> {{cardShown$[i + 1].ort}} </li>
                                            <li class="list-group-item">Kontaktperson: <br>{{cardShown$[i + 1].veranstalter}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>  -->
                                <div class="mb-auto p-4"> <!--col pt-2-->
                                    <div class="card" style="width: 18rem;">
                                        <img
                                        src="../../assets/img/background3.jpg"
                                        class="card-img-top"
                                        alt="..."
                                        />
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                {{Card.title}}
                                            </h5>
                                            <div class= "card-text">
                                                <p>{{Card.beschreibung}}</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-1"> <b>Datum:</b> <br> {{Card.datum}} </li>
                                            <li class="list-group-item px-1" ><b>Treffpunkt:</b><br> {{Card.ort}} </li>
                                            <li class="list-group-item px-1" ><b>Link:</b><br> {{Card.link}} </li>
                                            <li class="list-group-item px-1"> <b>Kontaktperson:</b> <br>{{Card.veranstalter}}</li>
                                            </ul>
                                        </div>
                                    </div>
                              </div>
                              <!-- <div *ngIf="i + 2 < cardShown$.length" class="col pb-2">
                                <div class="card" style="width: 18rem;">
                                    <img
                                    src="../../assets/img/background3.jpg"
                                    class="card-img-top"
                                    alt="..."
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">Veranstaltung & Neuigkeiten:<br>
                                            {{cardShown$[i + 2].title}}
                                        </h5>
                                        <div class= "card-text">
                                            <p>{{cardShown$[i + 2].beschreibung}}</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                        <li class="list-group-item"> Datum: <br> {{cardShown$[i + 2].datum}} </li>
                                        <li class="list-group-item" >Treffpunkt:<br> {{cardShown$[i + 2].ort}} </li>
                                        <li class="list-group-item">Kontaktperson: <br>{{cardShown$[i + 2].veranstalter}}</li>
                                        </ul>
                                    </div>
                                </div>
                          </div>
                            <div *ngIf="i + 3 < cardShown$.length" class="col pb-2">
                                <div class="card" style="width: 18rem;">
                                    <img
                                    src="../../assets/img/background3.jpg"
                                    class="card-img-top"
                                    alt="..."
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">Veranstaltung & Neuigkeiten:<br>
                                            {{cardShown$[i + 3].title}}
                                        </h5>
                                        <div class= "card-text">
                                            <p>{{cardShown$[i + 3].beschreibung}}</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                        <li class="list-group-item"> Datum: <br> {{cardShown$[i + 3].datum}} </li>
                                        <li class="list-group-item" >Treffpunkt:<br> {{cardShown$[i + 3].ort}} </li>
                                        <li class="list-group-item">Kontaktperson: <br>{{cardShown$[i + 3].veranstalter}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div>  -->
                        <!-- </div> -->
                    </ng-container>
            </div>
                <!-- </mdb-carousel> -->
            </div>
           

            <!-- <div class="cardshown" (ping)="publish($event)" >
                <app-showncard (ping)="publish($event)" [cardShow$]="Card" *ngFor="let Card of $cardShown"></app-showncard>
                <app-shown-card (ping)="publish($event)" [cardShow$]="Card" *ngFor="let Card of $cardShown"></app-shown-card>
            </div> -->
        </div>
    <!-- </div> -->
</div>
<!--Vorlage: Kardkaroussel-->
<!-- <section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Carousel cards title </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
