<div class="p-5 text-center bg-image" id="mitgliederImg"
    style="background-image: url('../../assets/img/newMitglieder.jpg'); height: 500px; width: 100%;">
            <div class="d-flex mask justify-content-center align-items-center h-100"  style="margin-top: 70px;">
                    <h1 class="mb-3 text-white">OGV Mitglieder</h1>
            </div>
            <!-- Photo by Group.jpg <a href="https://unsplash.com/@shanerounce?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shane Rounce</a> on <a href="https://unsplash.com/s/photos/group?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              New One: Photo bytogetherHand <a href="https://unsplash.com/@hannahbusing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hannah Busing</a> on <a href="https://unsplash.com/s/photos/together?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   -->
           
</div>

<div class="container pt-5" id="mitglied">
    <!-- <div class="d-flex align-items-center">  -->

        <h5 class="text-uppercase"> Unser Vorstand</h5>

        <div class="col justify-content-center align-items-center">
            <img src="../../assets/img/vorstandschaft.PNG" class="img-fluid justify-content-center" alt="Betreuer der Kindergruppe Libellen" style="height: 30rem;" id="vorstandImg"/>
        </div>
        <p>
          Von links nach rechts: Pauline Weikert, Egon Weikert, Lydia Gradl, Gottfried Spallek, Katharina Atzmannsdorfer, Kathrin Uhlmann, Manuela Stöckl, <br>
          Angela Krieger, Jutta Thumann, Hans-Jürgen Hennig, Petra Geitner, Anton Thumann, Kerstin Weikert, Renate Meier, Martin Geitner.</p>

            <h5 class="text-uppercase pt-5"> Angebote an die Mitglieder</h5>
            <p>Unsere Mitglieder können folgende Angebote in Anspruch nehmen:</p>
            <ul>
                <li>Aktionen in der Kindergruppe</li>
                <li>Ausleihmöglichkeiten von Gartengeräten</li>
                <li>Ausflüge zu verschiedenen Städten und deren Fauna </li>
                <li>Fachvorträge durch erfahrene Referenten</li>
                <li>Schnitt- und Pflanzkurse</li>
                <li>Vergünstigtes Abo der Monatszeitschrift „Der praktische Gartenratgeber“ des Bay. Landesverbandes </li>
                <li>Vergünstigte Eintrittskarten für Landes- und Bundesgartenschauen</li>
            </ul>

        <div class="container pt-5 mb-6">
            <h5 class="text-uppercase">Willst du auch Mitglied werden?</h5>
            <p>Dann findest du hier die Beitrittserklärungen zum Ausfüllen.</p>
           <!--Zwei Spalten: Links Bild - rechts Text-->
                  <div class="row d-flex clearfix align-items-start bg-light row-cols-1 row-cols-md-2 g-10">
                        <div class="col">
                          <div class="card">
                            <a href="../../assets/Beitrittserklaerung_Erwachsene.pdf" download>
                              <img src="../../assets/img/erwachseneOgv.PNG" class="card-img-top" alt="Skyscrapers" style="height: 20rem;"/>
                               </a>
                              <div class="card-body">
                                    <h5 class="card-title"> Beitrittserklaerung für Erwachsene</h5>
                                    <p class="card-text">
                                        <a href="../../assets/Beitrittserklaerung_Erwachsene.pdf" download>
                                        Klick hier zum Dowloaden!
                                        </a>
                                      </p>
                                 </div>
                          </div>       
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="../../assets/Beitrittserklaerung_Kinder.pdf" download>
                                <img src="../../assets/img/ogvKind.jpg"class="card-img-top" alt="Skyscrapers" style="height: 20rem;"/>
                                </a>
                                <div class="card-body">
                                      <h5 class="card-title">Beitrittserklaerung für Kinder</h5>
                                      <p class="card-text">
                                        <a href="../../assets/Beitrittserklaerung_Kinder.pdf" download>
                                        Klick hier zum Dowloaden!
                                        </a>
                                      </p>
                                   </div>
                            </div>
                        </div>
                    </div>
    </div>
