
<div class="mb-auto p-3">
    <!--  -->
        <img class="card-img-top" title="t" [attr.src]="data.img">
        <div class="box">
            <h4 class="card-title">{{data.title}}</h4>
            <!-- <div class="card-body"> -->
            <p class="card-text">{{data.beschreibung}}</p>
            <p class="card-text">
                <small class="text-muted">
                {{data.link}}
                </small>
            </p>
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>
