<div class="container pt-5 mb-3" id="datenschutz">
        <h1 class="mb-3">Datenschutzerklärung</h1>

                <p>Datenschutzerklärung und Informationspflicht gem. Art. 13 DS-GVO</p>
                <h5 class="text-uppercase">1. Informationspflicht gem. DS-GVO</h5>
                <p class="mb-5">Die verantwortliche Stelle für die Datenverarbeitung , gem. Art 13 Abs. (1) lit. a), auf dieser Website ist: <br>
                Obst- und Gartenbauverein Lauterhofen e.V.<br>
                vertreten durch die 1. Vorsitzende<br>
                Meier Renate<br>
                Am Anger 5<br>
                92283 Lauterhofen<br>
                Telefon: 09186 333<br>
                E-Mail: meier.renate0406[at]gmx.de <br>
                Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten.
                </p>


            <h6>Zwecke und Rechtsgrundlagen der Datenverarbeitung, gem. Art 13 Abs. (1) lit. c) DSGVO</h6>
            <p>Die personenbezogenen Daten werden zum Zweck für die Erfüllung von Verträgen oder zur Durchführung von vorvertraglichen Maßnahmen verarbeitet. Hierzu gehört die Kundenstammdaten mit Ansprechpartnern sowie der Kontakthistorie, Angebote, Bestellungen, Rechnungen, Projektdaten und weiteren gesetzlichen Verpflichtungen des Verantwortlichen.
            Die Rechtsgrundlagen ergeben sich aus dem Art. 6 DSGVO. Weitere wesentliche Rechtgrundlagen ergeben sich aus, dem Handelsgesetzbuch, Steuergesetzgebung, GMBH Gesetz und weiteren für die Building@Controls GmbH relevanten gesetzlichen Vorgaben. Hierzu gehören auch vertragliche Regelungen. Die Verarbeitung von Newslettern erfolgt aus Basis einer Einwilligung der Betroffenen.
            Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten gem. Art 13 Abs. (1) lit. d) DSGVO
            Soweit erforderlich verarbeiten wir Ihre Daten über die eigentliche Erfüllung des Vertrages hinaus zur Wahrung 
            berechtigter Interessen von uns oder Dritten. Dazu zählen:</p>

                <ul>
                    <li>Vertriebssteuerung und Vertriebscontrolling</li>
                    <li>Geltendmachung rechtlicher Ansprüche und Verteidigung bei rechtlichen Streitigkeiten</li>
                    <li>Gewährleistung der IT-Sicherheit und des IT-Betriebs</li>
                    <li>Maßnahmen zur Gebäude- und Anlagenregelung und zur Wahrung des Hausrechts</li>
                    <li>Maßnahmen zur Geschäftssteuerung und Weiterentwicklung</li>
                </ul>
            

            <h6>Kategorien von Empfängern der personenbezogenen Daten (Datenübermittlung) gem. Art 13 Abs. (1) lit. e) DSGVO</h6>
            <p>Innerhalb Deutschlands, der Europäischen Union sowie des Europäischen Wirtschaftsraum
            Deutschland:
            Wirtschaftsprüfer, Gerichtsvollzieher und andere Gläubiger sowie sonstige staatliche Stellen zur 
            Erfüllung gesetzlicher Verpflichtungen und für angeforderte Bescheinigungen, Logistikunternehmen,
            Kunden sowie Lieferanten und sonstige Stellen und Geschäftspartner.</p>


            <h6>Drittland inkl. Angemessenheitsbeschluss gem. Art 13 Abs. (1) lit. f DSGVO</h6>
            <p>In Rahmen von internationalen Geschäftsbeziehungen erfolgt die Übermittlung gem. Art. 6 Abs. 1 Lit b zur Erfüllung von Verträgen oder zur Durchführung von vorvertraglichen Maßnahmen. Hierzu ist kein Angemessenheitsbeschluss erforderlich.
            Speicherdauer gem. Art. 13 Abs (2) lit a)
            Die jeweiligen Zwecke ergeben sich aus gesetzlichen Vorgaben sowie aus einschlägigen branchenspezifischen Vorschriften. Die personenbezogenen Daten werden nach Erreichung des Zwecks gelöscht.
            Betroffenenrechte gem. Art. 13 Abs (2) lit b)
            Über die oben genannten Kontaktdaten können Sie jeder Zeit von Ihren Rechten Gebrauch machen.
            Werden von Ihnen personenbezogene Daten verarbeitet, sind Sie Betroffener in Sinne der DSGVO und es stehen
            Ihnen nachfolgende Rechte gegenüber dem Verantwortlichen zu:</p>

            <h6>Hinweise auf die Rechte der Betroffenen</h6>
            <p>Die betroffene Person hat das Recht, von dem Verantwortlichen eine Bestätigung darüber zu verlangen, ob sie betreffende personenbezogene Daten verarbeitet werden; ist dies der Fall, so hat sie ein Recht auf Auskunft über diese personenbezogenen Daten und auf die in Art. 15 DSGVO im einzelnen aufgeführten Informationen.
            Die betroffene Person hat das Recht, von dem Verantwortlichen unverzüglich die Berichtigung sie betreffender unrichtiger personenbezogener Daten und ggf. die Vervollständigung unvollständiger personenbezogener Daten zu verlangen (Art. 16 DSGVO).
            Die betroffene Person hat das Recht, von dem Verantwortlichen zu verlangen, dass sie betreffende personenbezogene Daten unverzüglich gelöscht werden, sofern einer der in Art. 17 DSGVO im einzelnen aufgeführten Gründe zutrifft, z. B. wenn die Daten für die verfolgten Zwecke nicht mehr benötigt werden (Recht auf Löschung).
            Die betroffene Person hat das Recht, von dem Verantwortlichen die Einschränkung der Verarbeitung zu verlangen, wenn eine der in Art. 18 DSGVO aufgeführten Voraussetzungen gegeben ist, z. B. wenn die betroffene Person Widerspruch gegen die Verarbeitung eingelegt hat, für die Dauer der Prüfung durch den Verantwortlichen.
            Die betroffene Person hat das Recht, aus Gründen, die sich aus ihrer
            besonderen Situation ergeben, jederzeit gegen die Verarbeitung sie betreffender personenbezogener Daten Widerspruch 
            einzulegen. Der Verantwortliche verarbeitet die personenbezogenen Daten dann nicht mehr, es sei denn, 
            er kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die die Interessen, 
            Rechte und Freiheiten der betroffenen Person überwiegen, oder die Verarbeitung dient der Geltendmachung, 
            Ausübung oder Verteidigung von Rechtsansprüchen (Art. 21 DSGVO).</p>

            <h6>Betroffenenrechte gem. Art. 13 Abs (2) lit. c) DSGVO</h6>
            <p>Soweit Sie uns eine Einwilligung zur Verarbeitung von personenbezogenen Daten für bestimmte Zwecke (z. B. Verarbeitung von Bildern der Betroffenen) erteilt haben, ist die Rechtmäßigkeit dieser Verarbeitung auf Basis Ihrer Einwilligung gegeben.
            Eine erteilte Einwilligung kann jederzeit widerrufen werden. Dies gilt auch für den Widerruf von Einwilligungserklärungen, die vor der Geltung der DSGVO, also vor dem 25. Mai 2018, uns gegenüber erteilt worden sind.
            Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind, 
            sind davon nicht betroffen.</p>

            <h6>Beschwerderecht bei einer Aufsichtsbehörde gem. Art 13 Abs. (2) lit. d) DSGVO</h6>
            <p>Jede betroffene Person hat unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs
            das Recht auf Beschwerde bei einer Aufsichtsbehörde, wenn die betroffene Person der Ansicht ist,
            dass die Verarbeitung der sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt (Art. 77 DSGVO).
            Die betroffene Person kann dieses Recht bei einer Aufsichtsbehörde in dem Mitgliedstaat ihres Aufenthaltsorts, 
            ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes geltend machen.</p>


            <p>Zuständige Aufsichtsbehörde:<br>
            Bayerisches Landesamt für Datenschutzaufsicht<br>
            Hausanschrift:<br>
            Promenade 27 (Schloss)<br>
            91522 Ansbach<br>
            <br>
            Postanschrift:<br>
            Postfach 606 <br>
            91511 Ansbach<br>
            Tel.: 0981/531300<br>
            Fax: 0981/53981300<br>
            E-Mail: poststelle@lda.bayern.de</p>

            <h6>Bereitstellung personenbezogener Daten gem. Art. 13 Abs. (2) lit. e) DSGVO</h6>
            <p>Im Rahmen unserer Geschäftsbeziehung müssen Sie nur diejenigen personenbezogenen Daten bereitstellen, die für die Begründung, Durchführung und Beendigung des Beschäftigungsverhältnisses erforderlich sind oder zu deren Erhebung wir gesetzlich verpflichtet sind. Ohne diese Daten werden wir in der Regel das Beschäftigungsverhältnis nicht durchführen können.
            Änderung der Datenschutzerklärung
            Zweckänderung
            Wir behalten uns das Recht vor, diese Datenschutzerklärung unter Beachtung der datenschutzrechtlichen Vorgaben zu ändern. Die jeweils aktuelle Fassung finden unter der Datenschutzerklärung auf unserer Internetseite (Link ergänzen). Außerdem können Sie diese über die oben genannten Kontaktdaten jederzeit anfordern. Wenn wir beabsichtigen, Ihre Daten für andere Zwecke zu verarbeiten, also jene für die sie erhoben wurden, teilen wir Ihnen dies unter Beachtung der gesetzlichen Bestimmungen im Voraus mit.
            </p>


            <h5 class="text-uppercase">2. Datenschutz auf einen Blick</h5>

           <h6>Allgemeine Hinweise</h6> 
           <p> Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. 
               Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.</p>

           <h6>Datenerfassung auf unserer Website</h6> 
           <p>Wer ist verantwortlich für die Datenerfassung auf dieser Website?
            Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. 
            Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.</p>

            <h6>Wie erfassen wir Ihre Daten?</h6>
            <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. 
                Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
            Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. 
            Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs).
             Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.</p>

            <h6>Wofür nutzen wir Ihre Daten?</h6>
            <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. 
                Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>

            <h6>Welche Rechte haben Sie bezüglich Ihrer Daten?</h6>
            <p>Ihr Rechte können Sie der o.g. Informationspflicht entnehmen.</p>

            <h5 class="text-uppercase"> 3. Allgemeine Hinweise und Pflichtinformationen</h5> 

            <h6>Datenschutz</h6>
            <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
            Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. 
            Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. 
            Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. 
            Sie erläutert auch, wie und zu welchem Zweck das geschieht.
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) 
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>

            <h6>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h6>
            <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. 
                Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. 
                Dazu reicht eine formlose Mitteilung per E-Mail an uns. 
                Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>

            <h6>Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art. 21 DSGVO)</h6>
            <p>Wenn die Datenverarbeitung auf Grundlage von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, haben Sie jederzeit das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Verarbeitung Ihrer personenbezogenen Daten Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling. Die jeweilige Rechtsgrundlage, auf denen eine Verarbeitung beruht, entnehmen Sie dieser Datenschutzerklärung. Wenn Sie Widerspruch einlegen, werden wir Ihre betroffenen personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen (Widerspruch nach Art. 21 Abs. 1 DSGVO).
                <br>
            Werden Ihre personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
           Wenn Sie widersprechen, werden Ihre personenbezogenen Daten anschließend nicht mehr zum Zwecke der Direktwerbung verwendet (Widerspruch nach Art. 21 Abs. 2 DSGVO).</p>

            <h6>SSL- bzw. TLS-Verschlüsselung</h6>
            <p>Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von “http://” auf “https://” wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
            Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.</p>

            <h6>Auskunft, Sperrung, Löschung</h6>
            <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
            Widerspruch gegen Werbe-Mails. <br>

            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur 
            Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen.
             Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von 
             Werbeinformationen, etwa durch Spam-E-Mails, vor.</p>

            
            <h5 class="text-uppercase"> 4. Datenerfassung auf unserer Website</h5>
            <h6>Cookies</h6>
            <p>Die Internetseiten verwenden teilweise so genannte Cookies. 
                Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, 
                unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. 
                Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
            Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. 
            Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert
             bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.

             <br>
            Unsere Seite verwendet keine Trackingcookies bindet aber Dienste anderer Anbieter die dies aber möglicherweise tun.
             Wir haben auf die Verwendung von Cookies durch diese Dienste keinen Einfluss.
              Über die Dienste die im Rahmen dieser Seite eingebunden werden informieren wir in Abschnitt 5 „Plugins und Tools“. </p>

            <h6>Server-Log-Dateien</h6>
            <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien, 
                die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>

            <ul>
                <li>Browsertyp und Browserversion</li>  
                <li> verwendetes Betriebssystem </li> 
                <li>Referrer URL</li>  
                <li>Hostname des zugreifenden Rechners</li>  
                <li>Uhrzeit der Serveranfrage</li>  
                <li> IP-Adresse</li>  
            </ul>

            
            <p>
            Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
            Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. 
            Der Websitebetreiber hat ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website –
             hierzu müssen die Server-Log-Files erfasst werden.</p>

            <h6>Kontaktformular</h6>
            <p>Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.

            Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt somit ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können diese Einwilligung jederzeit widerrufen. 
            Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
            Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt 
            (z.B. nach abgeschlossener Bearbeitung Ihrer Anfrage). 
            Zwingende gesetzliche Bestimmungen – insbesondere Aufbewahrungsfristen – bleiben unberührt.</p>

            <h6>Anfrage per E-Mail, Telefon oder Telefax</h6>
            <p>Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive aller daraus hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens bei uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
                <br>
            Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher 
            Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) und / oder
             auf unseren berechtigten Interessen (Art. 6 Abs. 1 lit. f DSGVO), da wir ein berechtigtes Interesse an der effektiven Bearbeitung 
             der an uns gerichteten Anfragen haben.
            Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern,
             Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt
              (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen – insbesondere gesetzliche 
              Aufbewahrungsfristen – bleiben unberührt.</p>

          
            <h5 class="text-uppercase">5. Plugins und Tools</h5>

            <h6>Google Web Fonts</h6>
            <p>Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google bereitgestellt werden. Die Google Fonts sind lokal installiert. 
            Eine Verbindung zu Servern von Google findet dabei nicht statt.</p>

            <h6>Google Maps (mit Einwilligung)</h6>

            <p>Diese Seite nutzt über eine API den Kartendienst Google Maps. 
                Anbieterin ist die Google Ireland Limited („Google“), Gordon House, Barrow Street, Dublin 4, Irland. 
                Um den Datenschutz auf unserer Website zu gewährleisten, ist Google Maps deaktiviert, wenn Sie unsere Website das erste Mal betreten. 
                Eine direkte Verbindung zu den Servern von Google wird erst hergestellt, wenn Sie Google Maps selbstständig aktivieren
                 (Einwilligung nach Art. 6 Abs. 1 lit. a DSGVO). 
                 Auf diese Weise wird verhindert, dass Ihre Daten schon beim ersten Betreten der Seite an Google übertragen werden.
                  Nach der Aktivierung wird Google Maps Ihre IP-Adresse speichern. 
                  Diese wird anschließend in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
                   Der Anbieter dieser Seite hat nach der Aktivierung von Google Maps keinen Einfluss auf diese Datenübertragung. 
                   Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von Google: https://www.google.de/intl/de/policies/privacy/.</p>

            <h6>Hosting</h6>

            <h6>Externes Hosting</h6>

            <p>Diese Website wird bei einem externen Dienstleister gehostet (Hoster). Die personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des Hosters gespeichert. Hierbei kann es sich v. a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten, Namen, Webseitenzugriffe und sonstige Daten, die über eine Website generiert werden, handeln.
            Der Einsatz des Hosters erfolgt zum Zwecke der Vertragserfüllung gegenüber unseren potenziellen und bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und effizienten Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO).
            Unser Hoster wird Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten befolgen.
            <br>
            Abschluss eines Vertrages über Auftragsverarbeitung
            Um die datenschutzkonforme Verarbeitung zu gewährleisten, haben wir einen Vertrag über Auftragsverarbeitung mit unserem Hoster geschlossen.
            </p>
            
            <p>Quelle: E-Recht 24</p>
</div>