     <!--Background Image-->
<div class="p-5 text-center bg-image" id="historyImg" style=" background-image: url('../../assets/img/history2.jpg'); height: 500px; width: 100%;">
      <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100"  style="margin-top: 100px;">
          <div class="text-white">
            <h1 class="mb-3">Historie</h1>
          </div>
      </div>
      </div>
	  <!-- Photo by <a href="https://unsplash.com/@nini_m?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nino Maghradze</a> on <a href="https://unsplash.com/s/photos/group-green?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
  
</div>

<div class="container pt-5">
<h5 class="text-uppercase"> Gründung</h5>
<div class="gruendung">
<p>
    Die Gründung des Obst- und Gartenbauvereines Lauterhofen wurde veröffentlicht
    im Neumarkter Wochenblatt vom Donnerstag, 08. Juni 1905. <br>
    Hervorzuheben ist, dass bei der Gründung des Vereines im Jahre 1905 Personen 
    aus den verschiedenen Ortsteilen: Muttenshofen, Nattershofen, Schweibach, 
    Pettenhofen in die Vorstandschaft gewählt wurden.<br>
    Der Verein hatte sofort nach Gründung die beachtliche Anzahl von <b>50 Mitgliedern.</b>
    Der Grundgedanke des damaligen Vortrages von Herrn Landwirtschaftslehrer Alzheimer 
    war „das Nutzen des Obstbaues und die Verschönerung“. Dieser Grundgedanke hat für alle Mitglieder des Obst- und Gartenbauvereins auch noch nach 100 Jahren große Bedeutung.
    Es ist für alle ein Bedürfnis, ob im eigenen Garten oder in gemeindlichen Anlagen, Blumen oder Bäume zu hegen und pflegen um sich daran zu erfreuen.
    <br><br>
</p>
</div>

<h5 class="text-uppercase">Vorstände</h5>
<div class="vorstaende">
    <!--Zeitstrahl einfügen  -->
        <!-- Timeline start -->
<div class="timeline">
	<div class="timeline-row">
		<div class="timeline-time">
			Momentan<small>Von 2014</small>
		</div>
		<div class="timeline-dot fb-bg"></div>
		<div class="timeline-content">
			<h4 id="aktuellerVorstand">Renate Meier</h4>
		</div>
	</div>
	<div class="timeline-row">
		<div class="timeline-time">
			Bis 2004<small>Von 2002</small>
		</div>
		<div class="timeline-dot green-one-bg"></div>
		<div class="timeline-content green-one">
			<h4>Herbert Schuppe</h4>
		</div>
	</div>
	<div class="timeline-row">
		<div class="timeline-time">
			Bis 2002<small>Von 1998</small>
		</div>
		<div class="timeline-dot green-two-bg"></div>
		<div class="timeline-content green-two">
			<h4>Cilli Graf</h4>
        </div>
	</div>
	<div class="timeline-row">
		<div class="timeline-time">
			1998<small>5 Monate kommisarisch</small>
		</div>
		<div class="timeline-dot green-three-bg"></div>
		<div class="timeline-content green-three">
			<h4>Dr. Emil Winkler</h4>
        </div>
	</div>
	<div class="timeline-row">
		<div class="timeline-time">
			Bis 1998<small>Von 1986</small>
		</div>
		<div class="timeline-dot green-four-bg"></div>
		<div class="timeline-content green-four">
			<h4>Pius Eichinger</h4>
		</div>
	</div>
	<div class="timeline-row">
		<div class="timeline-time">
			Bis 1986<small>Von 1978</small>
		</div>
		<div class="timeline-dot green-five-bg"></div>
		<div class="timeline-content green-five">
			<h4>Rudolf Segerer</h4>
		</div>
	</div>
    <div class="timeline-row">
		<div class="timeline-time">
			Bis 1978<small>Von 1965</small>
		</div>
		<div class="timeline-dot green-six-bg"></div>
		<div class="timeline-content green-six">
			<h4>Pfarrer Konrad Schuster</h4>
		</div>
	</div>
    <div class="timeline-row">
		<div class="timeline-time">
			Bis 1965<small>Von 1961</small>
		</div>
		<div class="timeline-dot green-seven-bg"></div>
		<div class="timeline-content green-seven">
			<h4>Josef Haas</h4>
		</div>
	</div>
    <div class="timeline-row">
		<div class="timeline-time">
			Bis 1958
		</div>
		<div class="timeline-dot green-eight-bg"></div>
		<div class="timeline-content green-eight">
			<h4>Wilhelm Klose</h4>
		</div>
	</div>
    <div class="timeline-row">
		<div class="timeline-time">
            <small>Zeitraum nicht bekannt.</small>
		</div>
		<div class="timeline-dot green-nine-bg"></div>
		<div class="timeline-content green-nine">
			<h4>Michael Schätz</h4>
		</div>
	</div>
    <div class="timeline-row">
		<div class="timeline-time">
			<small>Zeitraum nicht bekannt.</small>
		</div>
		<div class="timeline-dot green-ten-bg"></div>
		<div class="timeline-content green-ten">
			<h4>Julius Alefeld</h4>
		</div>
	</div>
    <div class="timeline-row">
		<div class="timeline-time">
			<small>Zeitraum nicht bekannt.</small>
		</div>
		<div class="timeline-dot green-eleven-bg"></div>
		<div class="timeline-content green-eleven">
			<h4>Josef Weber</h4>
		</div>
	</div>
    <div class="timeline-row">
		<div class="timeline-time">
			 1937
		</div>
		<div class="timeline-dot green-twelve-bg"></div>
		<div class="timeline-content green-twelve">
			<h4>Geistlicher Rat Hafner</h4>
		</div>
	</div>
	<div class="timeline-row">
		<div class="timeline-time">
			Gründer<small>Gründung am 07.Juni.1905</small>
		</div>
		<div class="timeline-dot sea-green-bg"></div>
		<div class="timeline-content sea-green">
			<i class="far fa-lightbulb"></i>
			<h4>Lehrer Bogner</h4>
	</div>
</div>
<!-- Timeline end -->
</div>

</div>

