<div class="container pt-5 mb-3" id="impressum">
        <h1 class="mb-3">Impressum</h1>

        <h5 class="text-uppercase">Verantwortlich für den Inhalt</h5>
        <p class="mb-5">Obst- und Gartenbauverein Lauterhofen e.V.<br>
        vertreten durch die 1. Vorsitzende<br>
        Meier Renate<br>
        Am Anger 5<br>
        92283 Lauterhofen<br>
        Telefon: 09186 333<br>
        E-Mail: meier.renate0406[at]gmx.de</p>

        
        <h5 class="text-uppercase">Haftungsausschluss</h5>
        <p class="mb-5">Die Inhalte unserer Website dienen zur allgemeinen Information. Für Vollständigkeit,
            Richtigkeit und Aktualität übernehmen wir keine Haftung. 
            Wir behalten uns ausdrücklich das Recht zur Änderung und Aktualisierung unseres Angebots,
            auch ohne Ankündigung, auf dieser Website vor. <br>
            Externe Webseiten, auf die unsere Internetseite durch Links oder Querverweise verweisen, haften die jeweiligen Anbieter.
            Wir sind für den Inhalt der Internetseiten von Dritten, die aufgrund einer solchen Verbindung erreicht werden,
             nicht verantwortlich und übernehmen insoweit keine Haftung. <br>
            Desweiteren behalten wir uns das Recht vor, die auf den Internetseiten bereitgestellten Daten jederzeit zu ändern,
            <br> zu ergänzen oder zu löschen.</p>

        
        <h5 class="text-uppercase">Urheberrecht/ Copyright</h5>
        <p class="mb-5">Die auf dieser Website bereit gestellten Inhalte sind durch Urheberrecht geschützt.
            Jede vom Urheberrechtsgesetz nicht zugelassene Verwertung bedarf vorheriger schriftlicher Zustimmung unsererseits. <br>
            Dies gilt insbesondere für Vervielfältigung, Verbreitung, Weitergabe, Bearbeitung, Übersetzung, Einspeicherung, 
            Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. 
            Fotokopien und Downloads von Web-Seiten dürfen ohne ausdrückliche schriftliche Genehmigung nur für den persönlichen, privaten und
            nicht kommerziellen Gebrauch hergestellt werden. <br>
            Die zum Download angebotenen Dateien dürfen nur für den persönlichen Gebrauch genutzt werden. <br>
            Es ist nicht erlaubt diese Dateien zu ändern und an Dritte weiterzugeben. <br>
        </p>

        <h5 class="text-uppercase">Kommunikation über Email</h5>
        <p class="mb-5">Kommunikation via E-Mail kann Sicherheitslücken aufweisen. 
            Beispielsweise können E-Mails auf ihrem Weg an uns von versierten Internet-Nutzern aufgehalten,
             eingesehen oder gar verändert werden. Sollten wir eine E-Mail von Ihnen erhalten, so gehen wir davon aus,
              dass wir zu einer Beantwortung per E-Mail berechtigt sind. 
              Ansonsten müssen Sie ausdrücklich auf eine andere Art der Kommunikation verweisen.</p>

        
        <h5 class="text-uppercase">Gestaltung, Technische Realisierung</h5>
        <p>Tina Weikert,<br>
        tina.weikert@gmx.net,  <br>92283 Lauterhofen <br> <br></p>
</div>

 