.scroll{
    color:  #1e7a11 !important;
}

#projekte{
     color: black;
}

#pContainer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 0 4px 4px 4px;
    border-radius: 4px;
    // height: 200px;
}

@media screen and (max-width: 600px) {
    // .column {
    //     -ms-flex: 20%;
    //     flex: 20%;//100%
    //     max-width: 50%;
    // }

    #projektImg{
            height: 300px !important;
    }

}