
<div id="modalComponentRahmen"> <!--tabindex="-1" aria-labelledby="exampleModal1Label"-->
     <div class="modal-header">
        <h5 class="modal-title" id="lableModal">{{ title }}</h5> <!--Ereignisüberschrift-->
        <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"></button>
     </div>
   <div class="modal-content">
      <!-- <div class="ratio ratio-1x1"> -->
          <!--ratio-16x9  -->
          <!-- <app-image-lightbox [index]="id"></app-image-lightbox> -->
      <!-- </div> -->
   </div>

    <div class="modal-footer">
        <div class="text-center py-3">
            <button type="button" class="btn btn-secondary" (click)="modalRef.close()" data-mdb-dismiss="modal">
                Close
            </button>
         </div>
    </div>

  </div>


  <!-- <div class="modal fade" id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModal1Label"> -->
  <!-- aria-hidden="true"> -->
  <!-- <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="ratio ratio-16x9">   
        <iframe
          src="https://www.youtube.com/embed/A3PDXmYoF5U"
          title="YouTube video"
          allowfullscreen></iframe>
      </div>

      <div class="text-center py-3"> -->
            <!-- <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Close
            </button> -->
            <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()">
            </button>
            <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
                Close
            </button>
        </div>
    </div>
  </div>
</div> -->



<!-- <div
        class="modal fade"
        id="exampleModal1"
        tabindex="-1"
        aria-labelledby="exampleModal1Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="ratio ratio-16x9">
               
              <iframe
                src="https://www.youtube.com/embed/A3PDXmYoF5U"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
  
            <div class="text-center py-3">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div> -->