    <!--Background Image-->

<div class="p-5 text-center bg-image" id="kindergruppeImg"
    style="background-image: url('../../assets/img/vieleKinder.jpg'); height: 500px; width: 100%;">
            <div class="d-flex mask justify-content-center align-items-center h-100"  style="margin-top: 100px;">
                    <h1 class="mb-3 text-white">"Die Libellen"</h1>
            </div>
</div>

<div id="kindergruppe">
        
   <div class="container">
    <div id="libelle">
        <img src="../../assets/img/libelle.png" class="libelleGrafik" alt="Libelle" />
    </div>
      <h5 class="text-uppercase" id="scroll">Willkommen</h5>
     <!--Zwei Spalten: Links Bild - rechts Text-->
            <div class="row d-flex clearfix align-items-start bg-light mb-3 gx-5">
                <div class="col">
                    <p>Wir sind die Kindergruppe des Obst- und Gartenbauvereins Lauterhofen - "Die Libellen".
                        Kinder jedes Alter können an unseren Aktionen teilnehmen. 
                        Wir organisieren kindesgerechte Aktivitäten von Kürbisschnitzen an Halloween, 
                        Erlebnisausflug in den Wald mit einem Förster bishin zu Kinderdiskos.
                    </p><p> Unser Ziel ist es
                        ein tolles Erlebnis für die Kinder zu schaffen und auf spielerische Weise Wissen über 
                        die Natur zu vermitteln.
                        Es werden mehrmals im Jahr Aktionen unternommen bzw. angeboten, die überwiegend in der Natur stattfinden. 
                        <br> Der Jahresbeitrag beträgt dafür 3 €.
                        <br><br>
                        Die Betreuer dieser tollen Truppe sind rechts im Bild zu erkennen. Von links nach rechts:
                        Katharina Atzmannsdorfer, Kathrin Uhlmann, Sandra Zollbrecht
                    </p>
                    <img src="../../assets/img/TwoSmallLeaf_oH.jpg" class="libellenOrte" alt="Blätter" />
                </div>
                <div class="col justify-content-center align-items-center">
                    <img src="../../assets/img/libellenBetreuer.jpg" class="img-fluid" alt="Betreuer der Kindergruppe Libellen" />
                </div>
            </div>
  </div>  


  <div class="container pt-5">
    <h5 class="text-uppercase">Was tun wir so?</h5>
   <!--Zwei Spalten: Links Bild - rechts Text-->
          <div class="row d-flex clearfix align-items-start bg-light row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card">
                      <img src="../../assets/img/20140417 Kraueterkisten bepflanzt (23).jpg" class="card-img-top" alt="Kräuterkiste" style="height: 16.5rem; "/>
                        <div class="card-body">
                            <h5 class="card-title"> Bepflanzung einer Kräuterkiste</h5>
                            <p class="card-text">
                            An diesem Tag haben wir zusammen eine Kräuterkiste bepflanzt und uns mit den heimischen PFlanzen beschäftigt.
                            </p>
                         </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/img/20130406 Insektenhotel im GC (47).jpg" class="card-img-top"  alt="Insektenhotel" style="height: 16.5rem; "/>
                          <div class="card-body" >
                              <h5 class="card-title"> Bauen eines Insektenhotel</h5>
                              <p class="card-text">
                              An diesem Tag haben wir zusammen mit dem Architekten Berschneider ein Insektenhotel am Golfplatz Lauterhofen geschaffen.
                              </p>
                           </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                        <img src="../../assets/img/130323 Foerster Sigi im Wald (13).jpg" class="card-img-top" alt="Ausflug in den Wald" style="height: 16.5rem;"/>
                          <div class="card-body" >
                              <h5 class="card-title">Mit dem Förster durch den Wald</h5>
                              <p class="card-text">
                              An diesem Tag haben wir zusammen mit dem Förster Sigi zusammen den Wald seine Pflanzen und Tiere erkundet.
                              </p>
                           </div>
                    </div>
                  </div>
                  <img src="../../assets/img/TwoSameLeaf.jpg" class="libellenOrt2" alt="Blätter"/>
            </div>
        </div>  
        <div class="p-5 text-center bg-image shadow-1-strong rounded mb-5 text-white" 
             style="background-image: url('../../assets/img/realLibelle3.jpg'); height: 200px; width: 100%;">
             <!-- Photo by <a href="https://unsplash.com/@svenson?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sven van der Pluijm</a> on <a href="https://unsplash.com/s/photos/libelle?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                Unsplash</a> -->
            <div class="d-flex mask justify-content-center align-items-center">              
                <h2 class="mb-3 text-white">
                 Auf zum Schnuppern! <br> <br>
                 Kontaktiere uns: <a href = "mailto: Die.Libellen@yahoo.de" id="mail">Die.Libellen@yahoo.de</a> 
                </h2>           
            </div>
        </div>

        <div class="container pt-5">
            <h5 class="text-uppercase">Gründung</h5>
           <!--Zwei Spalten: Links Bild - rechts Text-->
                  <div class="row d-flex clearfix align-items-start bg-light mb-3 gx-5">
                      <div class="col">
                          <p>Das eine Ki- u. Jugendgruppe für einen Verein sehr wichtig ist, über dies war sich jeder in der Vorstandschaft bewusst. 
                             Das Kinder u. Jugendliche die Natur und ihren Lebensraum besser kennen und verstehen lernen sollten war ebenso klar, nur woher BetreuerInnen bekommen, 
                             denn ohne diese geht es nicht. 
                             Mit viel Glück und Überredungskraft konnte im Sommer 2006 endlich mit zwei Betreuerinnen eine erste „Schnupperaktion“ 
                             zur Gründung einer Jugendgruppe des OGV Lauterhofen gewagt werden. 
                             Unter dem Motto „Abenteuer im Wald“ erkundeten 25 Kinder mit Förster Sigi die Geheimnisse des Waldes. 
                             Aufgrund der großen Resonanz kam es im Oktober zu einer weiteren „Schnupperaktion“. </p>
                             <p>
                             Bei herrlichem Herbstwetter und mit Unterstützung der Eltern wurden Kürbisse zu fantasievollen Gesichtern bearbeitet. 
                             Nach dieser ebenfalls erfolgreichen Aktion wurde von den Kindern der Name für ihre Gruppe gewählt. 
                             Die Mehrheit der Kinder entschied sich aus vielen Vorschlägen für den Namen „Die Libellen“. 
                             Im Januar 2007 war es dann soweit und die Gruppe wurde mit 23 Kindern offiziell gegründet. 
                             Der „Traum“ der Vorsitzenden ging endlich in Erfüllung. 
                             Bis Ende des Jahres war die Gruppe bereits auf 60 Kinder angewachsen! 
                             Pro Aktion nehmen im Durchschnitt 35 - 40 Kinder teil. 
                            </p><p>
                             Vor allem freut es die Betreuerinnen, dass immer sehr viele Elternteile mit dabei sind und sie tatkräftig unterstützen. 
                             Die Finanzierung der Aktivitäten wird überwiegend durch den Verein getragen. 
                             Die meisten Veranstaltungen werden in der Natur abgehalten und kommen bei den Kindern sehr gut an. 
                             Die Kinder u. Jugendlichen sind mit Begeisterung dabei und es haben sich schon viele Freundschaften dadurch entwickelt. 
                             Nachdem die Aktionen so gut angenommen werden wächst die Anzahl der Mitglieder stetig. 
                             Es kann nur dazu geraten werden, bei evtl. Nachwuchssorgen, eine Jugendgruppe zu gründen.
                          </p>
                      </div>
                      <div class="col justify-content-center align-items-center">
                          <figure>
                            <img src="../../assets/img/Gründungsmitglieder.PNG" class="img-fluid" alt="Betreuer der Kindergruppe Libellen" />
                            <figcaption class="figure-caption">Gründungsmitglieder von links nach rechts & oben nach unten: <br>
                                Segerer Rebecca, Weikert Tina, Dietrich Laura, Weikert Max, Mertl Moritz und Marie,
                                Geitner Lara, Dietrich Vera, Trollius Helena, Wildfeuer Lisa & David, Bösl Sarah & Salome, Wippich Eva & Antonia,
                                Moosburger Tamara, Langner Bastian und Marvin, Niebler Regina, Trollius Philipp, Geitner Tim, Mederer Hannah und Magdalena
                            </figcaption>
                        </figure>
                          <img src="../../assets/img/MoreFlowers.jpg"  class="libellenOrt3" alt="Blätter" /> <!--class="wow slideInRight"-->
                      </div>
                  </div>
            </div>  
    </div>
        <!-- <button (click)="scrollTop()">Scroll to top</button> -->
        <script>
            // MDB Lightbox Init
            // $(function () {
            //   $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
            // });
          
            // // Adding animations to the sections
            // $("section").addClass("wow slideInRight");
          
            // // Animations Init
            // new WOW().init();
    
            //new try
            window.addEventListener('scroll', () =>{
                const scrollable = document.documentElement.scrollHeight - window.innerHeight;
                const scrolled = window.scrollY;
                
                if(Math.ceil(scrolled) == scrollable){
                    alert('Du bist am Ende angekommen');
                }
            });
        </script>