
      <!--Background Image-->
<div class="p-5 text-center bg-image" id="tippsImg" style="background-image: url('../../assets/img/tipps2.jpg'); height: 500px; width: 100%;">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100"  style="margin-top: 100px;">
            <div class="text-white">
                <h1 class="mb-3">Tipps & Tricks</h1>
    <!--Link for tipps: Photo by <a href="https://unsplash.com/@neslihangunaydin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Neslihan Gunaydin</a> on <a href="https://unsplash.com/s/photos/werkzeug-garden?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
  <!--Link for garde: Photo by <a href="https://unsplash.com/@markusspiske?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Markus Spiske</a> on <a href="https://unsplash.com/s/photos/werkzeug-garden?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
                </div>
        </div>
    </div>
</div>
 
<div class="container pt-3">
    <!--<div class="d-flex flex-wrap flex-row">  align-items-center-->
        <!-- <div class="row row-cols-md-2"> -->
            <!-- <div class="col"> -->
                <app-tipps-grid [items]="$tipp"></app-tipps-grid>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>
















