     <!--Background Image-->
     <div
     class="p-5 text-center bg-image" id="geraeteImg"
     style=" background-image: url('../../assets/img/werkzeug.jpg'); height: 500px; width: 100%;">
      <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100"  style="margin-top: 100px;">
          <div class="text-white">
            <h1 class="mb-3">Geräteausleihe</h1>
          </div>
        </div>
      </div>
  </div>

  
<div class="container pt-5" id="geraeteausleihe">
    <h5 class="text-uppercase"> Geräteausleihe</h5>

    <p>Die Geräteausleihe ist für Mitglieder und Nicht-Mitglieder des OGV Lauterhofen möglich. <br><br>
        <b>Wir</b> unterstützen Sie bei Ihrer Gartenarbeit.<br>
        <b>Sie</b> unterstützen dadurch unseren Verein. <br>
        <b>Wir</b> verwenden den Erlös für unsere Projekte
            bzw. zur Finanzierung von „Verschönerungen“ in unserem Ort!<br><br> </p>
        <i class="fas fa-euro-sign"></i> 
        <p class="geld">
         Die Verrechnung der Leihgebühren wird in ½ bzw. 1 Std. vorgenommen! (keine 15 oder 45 Min.)<br>
        <b>Mitglieder des OGV`s</b> bezahlen hierbei nur <b>die Hälfte!</b>
        </p>
        <i class="fas fa-oil-can"></i> 
        <p class="geld">Geräte, welche über einen Tank verfügen, müssen wieder vollgetankt werden.<br></p>
        <i class="fas fa-map-marker-alt"></i> <p class="geld"> Die Geräte erhalten Sie bei Martin Geitner: Tel. +49 170 9662199<br></p>
        <i class="fas fa-info"></i> <p class="geld"> Telefonische Voranmeldung ist wünschenswert!<br><br></p>

    <h5> Leihgebühren pro Stunde für die jeweiligen Geräte:</h5>

    <div class="tableAusleihe">
            <table class="table table-hover table-responsive align-middle">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Geräte</th>
                    <th scope="col">Kosten</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Akku-Heckenschere</td>
                    <td>8 €</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Astschere u. Säge mit Teleskopstiel</td>
                    <td>5 €</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Bodenmessgerät pro Messung</td>
                    <td>2 €</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Elektroheckenschere</td>
                        <td>4 €</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Gartenwalze</td>
                        <td>5 €</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Häcksler</td>
                        <td>10 €</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Lanzenheckenschere</td>
                        <td>8 €</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Motorhacke (Gartenfräse)</td>
                        <td>5 €</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td colspan="1">Motorhacke klein (Ideal für Bearbeitung von Kleinflächen)</td>
                        <td>4 €</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Motorsäge mit Teleskopstiel (Hochentaser)</td>
                        <td>15 €</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Rasenlüfter</td>
                        <td>5 €</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Streuwagen zum Düngen und Säen</td>
                        <td>5 €</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
