
.card-list{
    width: 100%;
    margin-left: 1%;
}
 
.card-elements{
    // width: 10%;
    // margin: 0;
    margin-left: 1%;
    display: flex;
    flex-flow: column;
}



.carousel-control-prev-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
